<!-- First test -->
<div class="container shadow">
  <div class="row m-2">

    <div class="col-12 mt-4">
      <h4>Ejercicio 1: </h4>
      <small class="text-muted">Elaborar un programa que imprima una serie de renglones con la siguiente secuencia, el número de renglones se solicita en tiempo de corrida.</small>
    </div>

    <div class="col-4">
      <form class="form-group mt-2" [formGroup]="frmRows" (ngSubmit)="runRows()">
        <label for="total_rows">Ingresa el numero de renglones <span class="text-danger">*</span></label>
        <input type="number" class="form-control form-control-sm mt-1" id="total_rows" formControlName="total_rows" [class.is-invalid]="validTotalRows" min="1">
        <small class="text-danger mb-2" *ngIf="validTotalRows">Debe agregar el numero de renglones <br></small>
        <button class="btn btn-primary btn-sm mt-2">Ejecutar</button>
        <button type="button" class="btn btn-outline-secondary btn-sm mt-2 ms-2" (click)="resetRows()">Limpiar</button>
      </form>
    </div>
    <hr class="mt-2 mb-2 ms-3">
    <div class="col-12 mb-2">
      <h6 class="m-0">Resultado</h6>
      <span *ngFor="let num of primary_array">
        <br> {{num|json}}
      </span>
    </div>
  </div>

</div>

<!-- Second test -->
<div class="container mt-4 shadow mb-5">
  <div class="row m-2">

    <div class="col-12 mt-4">
      <h4>Ejercicio 2: </h4>
      <small class="text-muted">Elaborar una página html con una lista de artículos seleccionables y  su precio, entonces agregar un botón que valide  los datos capturados y si seleccionas tres o más artículos  despliegue el mensaje “Selección correcta”  en caso contrario mande el mensaje “Debe seleccionar al menos 3 artículos”.</small>
    </div>

    <div class="col-4">



        <h6 class="mt-3">TB articulos disponibles</h6>
        <table class="table table-hover m-0">
          <thead class="table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Articulo</th>
              <th scope="col">Precio</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let article of articles; let pointIndex = index"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Haz click para seleccionar el articulo" style="cursor: pointer;"
                (click)="addArticle(article, pointIndex)">
              <th>{{pointIndex+1}}</th>
              <td>{{article.name}}</td>
              <td>{{article.price}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="articles.length == 0" class="alert alert-secondary text-center m-0">
          <h6>Ningun articulo disponible</h6>
        </div>

        <h6 class="mt-4">TB articulos seleccionados</h6>
        <table class="table table-hover m-0">
          <thead class="table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Articulo</th>
              <th scope="col">Precio</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody *ngIf="selected_articles.length > 0">
            <tr *ngFor="let article of selected_articles; let pointIndex = index">
              <th>{{pointIndex+1}}</th>
              <td>{{article.name}}</td>
              <td>{{article.price}}</td>
              <td>
                <button class="btn btn-sm btn-outline-danger" data-bs-placement="top" title="Haz click quitar el articulo" (click)="rmArticle(article, pointIndex)">
                  <i class="fas fa-eraser"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="selected_articles.length == 0" class="alert alert-secondary text-center m-0">
          <h6>Ningun articulo seleccionado</h6>
        </div>

    </div>

    <hr class="mt-2 ms-3">
    <div class="col-4 mb-2">
      <button class="btn btn-primary" (click)="makeOrder()">Realizar pedido</button>
    </div>
    <hr class="mt-2 mb-2 ms-3 m">

  </div>

</div>
